[submodule "cpp/extern/flashrl-lightspark/lightspark"]
	path = cpp/extern/flashrl-lightspark/lightspark
	url = https://github.com/perara-libs/lightspark.git
[submodule "cpp/extern/carma"]
	path = cpp/extern/carma
	url = https://github.com/RUrlus/carma.git
