
*.iml
.idea
build
cmake-build-*
venv
*.egg-info*
*.eggg
*.egg

cairl/__pycache__/__init__.cpython-38.pyc

cairl/__pycache__/gym.cpython-38.pyc

cairl/examples/benchmarks/other_pole.py
cairl/examples/benchmarks/kludder_knole.py
cairl/examples/benchmarks/16_8/
cairl/examples/benchmarks/logging
cairl/examples/benchmarks/swf
cairl/examples/benchmarks/*.pdf
cairl/examples/benchmarks/*.png
cairl/examples/benchmarks/*.svg